env
.env
# environment name is document_portal
document_portal 
.document_portal

document_portal.egg-info
venv/
__pycache__/
logs/
*.pyc
faiss_index/

notebook\experiments.ipynb
.notebook\experiments.ipynb